@import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.homepage {
  background-color: #333d49;

}

.navbar {
  background-color: #222731;
}

input[type="search"] {
  outline: none;
  border: 1px;
  background-color: #fff;
  color: #000;
  padding: 10px;
  border-radius: 8px;
}

.city-card, .day-card {
  background-color: #222731; 
  
}